header #main-info #meaning {
    padding: 0;
}

#main-info {
    padding: 10px 0;
}

header #main-info #meaning {
    padding: 0;
}

header #main-info #character {
    padding: 0;
}

#lessons #supplement-info button.audio-btn {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

/* Portrait */
@media only screen and (orientation: portrait) {
    
    /* 3.5" iPhone */
    @media (min-width: 320px) and (max-width: 767px) {
        #reviews #question #character, #lessons header #main-info #character {
            font-size: 8vh !important; line-height: 18vh !important; padding: 10px 0 0;
        }
    }
    
    /* 4" iPhone */
    @media (min-width: 320px) and (max-width: 767px) and (min-height: 481px) {
        #question #question-type h1 {
            font-size: 1rem;
        }
        
        #answer-form input[type=text], #answer-form button {
            font-size: 0.85em;
        }
    }
    
    /* 4.7" iPhone */
    @media (min-width: 375px) and (max-width: 767px) {
        #lessons {
            font-size: 1.25em;
        }
        
        #answer-exception {
            top: 2.8em;
            font-size: 0.8em;
        }
        
        .srs {
            font-size: 1em;
        }
        
        #answer-form input[type=text], #answer-form button {
            font-size: 1.25rem;
        }
    }
    
}

/* Landscape */
@media only screen and (orientation: landscape) {
    
    /* iPad (minus status bar) */
    @media (min-height: 748px) and (max-height: 1003px) {
        .srs {
            font-size: 1em;
        }
        
        #question #question-type h1 {
            font-size: 1.25em;
        }
        
        #answer-form input[type=text], #answer-form button {
            font-size: 1.25em;
        }
        
        #reviews #question #character, #lessons header #main-info #character {
            font-size: 72px !important; line-height: 150px !important;
        }
    }
    
    /* iPad Pro (minus status bar) */
    @media (min-height: 1004px) and (max-height: 1024px) {
        #question #question-type h1 {
            font-size: 1.667em;
        }
    }
}

@media (max-width: 767px) {
    #item-info {
        font-size: 100%;
    }
    
    #summary-button, #header-buttons {
        font-size: 1rem;
    }
    
    #reviews #stats, #lessons #stats {
        font-size: 0.85rem;
    }
    
    #additional-content ul li span {
        font-size: 1rem;
    }
    
    #additional-content ul li.active:before {
        bottom: -1rem;
    }
}
